

<div class="container" style="text-align:center">

  <h4>Select Users:</h4>

    <div style="text-align:center" *ngIf="usersArray.length>0">
<div *ngFor = 'let user of usersArray'  (click)="storeUsers(user.userId, user.firstName)" class="col-md-4">
    <div class="list-group">
      <div class="idcheck" *ngIf=' user.userId != activeUserId '>
    <div  type="button" class="list-group-item list-group-item-action">
      {{user.firstName}} 
    </div>
      </div>
  </div>

</div>

</div>


<h4>Selected Users:</h4>
<ul>
  <li>Click on below users to REMOVE from list <mark>before 'CONFIRM'</mark></li>
   <li>If editing, press CONFIRM <mark>before creating the group</mark></li> 
</ul>
<br>
<label>YOU and</label>
<div style="text-align:center" *ngIf="recordsArray.length>0">
  <div *ngFor = 'let record of recordsArray'  (click)="removeRecords(record)" class="col-md-4">
      <div class="list-group">
        <div class='idcheck' *ngIf=' record.userId != activeUserId '>
      <div  type="button" class="list-group-item list-group-item-action" >
        {{record.firstName}} 
      </div>
    </div>
    </div>
  
  </div>
  
  </div>

  <button type="button"  (click) = 'sendUsersList(); click=true;click1=false' [disabled]='click'  class='btn btn-primary'>Confirm</button>
  &nbsp;&nbsp;<button type="button"  (click) = 'click1=true;click=false' [disabled]='click1' class='btn btn-primary'>EDIT</button>

</div>