

<div class="container" style="text-align:center">
  <nav class="navbar navbar-light nav-tabs" style="background-color: #e3f2fd;">
    <a class="nav-link active" [routerLink]="['/group']" >Groups</a>
    <button type="button" (click)='logOut()' class='btn btn-primary'>LogOut</button>
    <a [routerLink]="['/history']" >History</a>
  </nav>

<button type='button' (click)='goToCreateGroup()' class="btn btn-warning">CREATE A NEW GROUP</button>

    <div style="text-align:center" *ngIf="groupsArray">
<div *ngFor = 'let group of groupsArray'  class="col-md-12">
  
    <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/gsingle',group.groupId]"> 
      {{group.groupName}}
    </button>
  </div>

  </div>

</div>

</div>