<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">SIGN_UP</span>
  </nav>
  <hr>
  <hr>
<div class='container'>
<div class='col-md-12'>
    <form #signUpForm="ngForm" (ngSubmit)="signUp()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Firstname</label>
                    <input class="form-control" type="text" [(ngModel)]="newFirstname" name="newFirstname"
                        #firstname="ngModel" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Lastname</label>
                    <input class="form-control" type="text" [(ngModel)]="newLastname" name="newLastname"
                        #lastname="ngModel" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="newEmail" [(ngModel)]="newEmail" #email="ngModel"
                required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type='password' class="form-control" name="newPassword" [(ngModel)]="newPassword"
                #password='ngModel' placeholder='password' required>
        </div>
        <div class="form-group">
            <label>Mobile.No</label>
            <input type='number' class="form-control" name="newPhoneNo" [(ngModel)]="newPhoneNo"
                #Phoneno="ngModel" placeholder='Mobile.no' required>
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]='!signUpForm.form.valid'>Sign-Up</button>
        <button type="submit" class="btn btn-primary" (click)="goToSignin()">log-in</button>
    </form>
</div>
</div>
