
<div *ngIf='groupSingle'>
<div *ngFor="let group of groupSingle"> 
    <h2>{{group.groupName}} </h2> 
</div>
<button type="button" (click)='deleteGroup()' class="btn btn-warning">Delete this Group</button>
</div>
<h3>Users of this group</h3>
<div *ngIf='usersList'>
        <div *ngFor="let user of usersList"> 
      <li>  {{user.firstName}} </li>

        </div>
        </div>


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
         data-whatever="@mdo">Create expense</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #expenseCreateForm="ngForm" (ngSubmit)="createExpense()">
          <div class="form-group">
            <label for="expense-name" class="col-form-label">Expense Name:</label>
            <input type="text" class="form-control" [(ngModel)]='newExpenseName' 
            name="newExpenseName" #expensename='ngModel' required>
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Enter Amount:</label>
            <div class="input-group">
           <div class='input-group-prepend'>
             <div class='input-group-text'>Rs.</div>
           </div>
            <input type="number" class="form-control" [(ngModel)]="newAmount" 
            name="newAmount" #amount='ngModel' required>
          </div>
          </div>
          <div class="form-group">
            <label>Paid by</label>
          <select [(ngModel)]="payerName" name="payerName" #payer="ngModel"  class="form-control" required>
          <option *ngFor="let payer of usersList" [ngValue]="payer">
                {{payer.firstName}} 
              </option>
          </select>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]='!expenseCreateForm.form.valid' >Submit Expense</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div style="text-align:center" *ngIf="expenses">
  <div *ngFor = 'let expense of expenses'  class="col-md-4">
    
      <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" [routerLink]=""> 
        {{expense.expName}}
      </button>
    </div>
  
    </div>
  
  </div>