<div class="container" style="text-align:center">
        <nav class="navbar navbar-light bg-light" *ngIf='expense'>
                <span class="navbar-brand mb-0 h1">{{expense.expName}} | &#x20B9;{{expense.amount}} paid by {{expense.payerName}}</span>
                <span class="navbar-text-dark">
                        Added by {{expense.expAdder}} on {{expense.createdOn | date}}
                      </span>
              </nav>
<br>
<div style="text-align:center" *ngIf="userNames && expense">
    <div *ngFor = 'let user of userNames'  class="col-md-12">
      
        <div class="list-group">
        <li class="list-group-item "> 
          {{user}} owes {{mean1}}
        </li>
      </div>
</div>
      </div>
    <br>
    <div class="row">
      <div class="col">
      <button type="button"  (click)='deleteExpense()' class='btn btn-primary'>Delete</button>
    </div>
    <div class="col">
        <button type="button"  (click)='goBack()' class='btn btn-dark'>Go Back</button>
      </div>
    <div class="col">
        <button type="button"  data-toggle="modal" data-target="#exampleModal" class='btn btn-success'>Edit</button>
      </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #expenseEditForm="ngForm" (ngSubmit)="editExpense()">
          <div class="form-group">
            <label for="expense-name" class="col-form-label">Expense Name:</label>
            <input type="text" class="form-control" [(ngModel)]='newExpenseName' 
            name="newExpenseName" #expensename='ngModel' required>
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Enter Amount:</label>
            <div class="input-group">
           <div class='input-group-prepend'>
             <div class='input-group-text'>Rs.</div>
           </div>
            <input type="number" class="form-control" [(ngModel)]="newAmount" 
            name="newAmount" #amount='ngModel' required>
          </div>
          </div>
          <div class="form-group">
            <label>Paid by</label>
          <select [(ngModel)]="payerName" name="payerName" #payer="ngModel"  class="form-control" required>
          <option *ngFor="let payer of usersList" [ngValue]="payer">
                {{payer.firstName}} 
              </option>
          </select>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]='!expenseEditForm.form.valid' >Submit Expense</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>